body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}


/* ---------------------- NAVBAR  ------------------------ */

#nav-filler {
    height: 80px;
    transition: .3s;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2000;
    width: 100%;
}

#nav-wrap {
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF9050;
}

#logo {
    height: 70px;
    width: 85px;
    background-image: url(../images/logo-black.png);
    background-size: cover;
}

#navbar-toggler {
    position: relative;
    height: 40px;
    width: 37px;
    display: inline-block;
}


#navbar-toggler div {
    position: absolute;
    width: 100%;
    height: 4px;
    margin: 5px auto;
    background: rgb(0, 0, 0);
    transition: .1s;
}

#toggler-div-1{
    top: 5px;
}
#toggler-div-2 {
    top: 15px;
}
#toggler-div-3 {
    top: 25px;
}

#small-nav {
    text-align: end;
    padding: 0 30px;
    height: 0;
    overflow: hidden;
    background: #FF9050;
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#small-nav div {
    transition: .2s;
}

#small-nav ul {
    list-style: none;
    margin: auto;
}

#small-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    line-height: 2;
    font-weight: 700;
}

/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
@media screen and (min-width: 768px) {

    nav {
        flex-direction: row;
    }

    #navbar-toggler {
        display: none;
    }

    #logo {
        margin-left: 100px;
    }

    #small-nav {
        padding: 0 30px;
        width: 100%;
        height: 100px;
        position: relative;
        display: block;
        /* flex-direction: row;
        align-items: center;
        justify-content: flex-end; */
    }

    #small-nav div {
        position: absolute;
        top: 30px;
        right: 100px;
        transition: .3s;
        width: 368px;
    }

    #small-nav ul {
        margin: auto;
        padding: 0;
    }

    #small-nav ul li {
        display: inline-block;
        margin: 0 10px;
        padding: 0 15px;
        height: 35px;
    }

    #small-nav ul li a {
        font-size: 17px;
    }

    .nav-link-active {
        border-bottom: 2px solid black;
    }

}

/* --------------------  DESKTOP - BOOTSTRAP LG ------------------------ */

@media screen and (min-width: 992px) {


}



/* ---------------------  HERO  ---------------------- */
#hero {
    display: flex;
    height: 400px;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
}

#hero-left {
    padding: 40px;
}

#hero h1 {
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 65px;
}

#hero h3 {
    color: white;
}

#hero button {
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    background:rgb(255, 255, 255);
    border: 2px solid white;
    color: rgb(49, 49, 49);
    font-size: 20px;
}

#hero-img {
    display: none;
}

/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
@media screen and (min-width: 768px) {

    #hero {
        overflow: hidden;
    }

    #hero-left {
        padding-right: 0;
    }

    #hero-left button {
        margin-top: 20px;
    }

    #hero h1 {
        font-size: 90px;
    }

    #hero-img{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #hero-img img {
        width: 470px;
        height: 430px;
        z-index: 1900;
    }
}

/* --------------------  DESKTOP - BOOTSTRAP LG ------------------------ */

@media screen and (min-width: 992px) { 
    #hero {
        height: 550px;
        padding-left: 60px;
    }

    #hero h1 {
        font-size: 120px;
        line-height: 1;
    }
    
    #hero h3 {
        font-size: 40px;
    }

    #hero-img img {
        width: 600px;
        height: 560px;
    }
}


/* ---------------------  ABOUT  ---------------------- */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 5px;
    height: fit-content;
    background: linear-gradient(#FF9050, rgb(235, 176, 109), #FF9050);
}

/* #titles {
    width: 300px;
    height: 70px;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.title h1{
    display: inline;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

.title-active {
    opacity: 1;
   
}

#cards-wrap {
    position: relative;
    height: 380px;
    width: 300px;
    margin:  30px auto;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 380px;
    width: 100%;
    border-radius: 0;
    padding: 10px;
    opacity: 0;
    transition: .4s ease-out;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card-1 {
    font-size: 18px;
}

.front {
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.back {
    top: -10px;
    left: -10px;
} 

#selectors div{
    display: inline-block;
    height: 7px;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}

#selectors .active {
    background: black;
} */

#card-new {
    background: black;
    padding: 30px;
    text-align: left;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
    
}

#who {
    transition: .4s;
    position: absolute;
    width: 90%;
    align-self: center;
}

#what {
    opacity: 0;
    transition: .4s;
}

#card-new h2,
#card-new p {
    color: white;
}

#card-new p {
    line-height: 2;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls-img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls-img i {
    color: #FF9050;
    font-size: 20px;
}

#indicator {
    width: 70%;
    height: 3px;
    background: grey;
    position: relative;
}

#inner-indicator {
    position: absolute;
    height: 3px;
    width: 50%;
    right: 50%;
    background: #FF9050;
    transition: .2s;
}

.indicator-right {
    right: 0;
}

#number {
    color: white;
    align-self: center;
    font-size: 15px;
}

/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
@media screen and (min-width: 768px) {

    #titles {
        width: 350px;
    }

    .title h1{
        font-size: 80px;
    }

    #cards-wrap {
        position: relative;
        height: 250px;
        width: 70%;
        margin:  30px auto;
    }

    .card {
        height: 250px;
        width: 100%;
        border-radius: 0;
        padding: 10px;
        opacity: 0;
        transition: .2s;
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #card-2 {
        font-size: 16px;
    }
}

/* --------------------  DESKTOP - BOOTSTRAP LG ------------------------ */

@media screen and (min-width: 992px) {
    #card-1 {
        font-size: 21px;
    }

    #card-2 {
        font-size: 19px;
    }
}

/* ---------------------  ACCORDION  ---------------------- */

#accordion {
    height: fit-content;
    background: rgb(53, 53, 53);
    text-align: center;
    padding: 40px;
}

#accordion h1 {
    color: white;
    margin: 10px 0 30px 0;
    font-family: 'Bebas Neue', sans-serif;
}

#templating h2 {
    display: inline-block;
    color: white;
    margin: 0;
    font-size: 20px;
}

.templating-title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 80%;
    margin: 30px auto 10px ;
    align-items: center;
}

.accordion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 20px;

}

.accordion-icon div {
    position: absolute;
    height: 2px;
    width: 20px;
    background: #FF9050;
}

.plus-1 {
    transform: rotate(90deg);
    transition: .2s;
}

#accordion hr {
    border: 1px solid white;
    opacity: 1;
}

.acc-content {
    height: 0;
    overflow: hidden;
    transition: .4s ease;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    
}

.content-active{
    height: 280px;
    border-bottom: 1px solid white;
}

.content-active-desktop {
    height: 210px;
    border-bottom: 1px solid white;
}

.acc-content p {
    color: white;
    margin: 10px ;
    line-height: 2;
}


/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
@media screen and (min-width: 768px) {
    #accordion h1 {
        font-size: 70px;
    }

    #templating-wrap-div {
        display: flex;
    }

    #templating {
        padding-right: 30px;
    }

    .templating-title {
        justify-content: flex-end;
        flex-direction: row;
    }

    .accordion-icon {
        margin-right: 0;
        margin-left: 20px;
    }

    #templating-img-div {
        width: 300%;
        height: 550px;
<<<<<<< HEAD:css/style.css
        background-image: url(../images/templating-WHAT.jpg);
=======
        background-image: url(../images/templating-WHAT.jpg);
>>>>>>> 65c7d0487d8226bdec0681761e1d42585cb60293:style.css
        background-size: cover;
        transition: .7s;
    }
}



/* ---------------------- SOCIAL MEDIA ICONS  ------------------------ */

/* #icons-wrap {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
}

.icon {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius:10px;
    border: 1px solid white;
    background:rgb(34, 34, 34);
    padding: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon a {
    text-align: center;
}

.icon img {
    width: 90%;
    height: 90%;
}

/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
/* @media screen and (min-width: 768px) {
    #icons-wrap {
        height: fit-content;
        flex-direction: row;

    }
    
    .icon {
        margin: 10px;
    }    
}  */


/* ------------------------------  BENEFITS  ------------------------------- */

#benefits {
    padding: 60px 20px;
}

#benefits-title {
    text-align: center;
    margin-bottom: 50px;
}

.group-img {
    height: 200px;
    max-width: 500px;
    background: grey;
    margin: 30px auto;
}

.group-text {
    text-align: center;
}

/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
@media screen and (min-width: 768px) {
    
    #benefits-title h1 {
        font-size: 70px;
    }

    .benefits-group {
        display: flex;
        margin: 50px 0;
        padding: 50px;
    }    

    .group-img {
        height: 300px;
        width: 300%;
        margin: 0 30px;
    }

    .img-left {
        transform: translateX(-100px);
        opacity: 0;
        transition: .5s;
    }

    .img-right {
        transform: translateX(100px);
        opacity: 0;
        transition: .5s;
    }
    .text-left {
        text-align: left;
        margin: 0 10px 0 20px; 
        transform: translateX(100px);
        opacity: 0;
        transition: .5s;
    }

    .text-right{
        text-align: right;
        margin: 0 20px 0 10px;
        transform: translateX(-100px);
        opacity: 0;
        transition: .5s;
    }

    .group-reverse {
        flex-direction: row-reverse;
    }
}

/* --------------------  DESKTOP - BOOTSTRAP LG ------------------------ */

@media screen and (min-width: 992px) {
    #benefits {
        padding: 60px 100px;
    }
}


/* ***************************  FOOTER ************************** */

#footer-wrap {
    display: flex;
 
    flex-wrap: wrap;
    background: #2e2e2e;
    padding: 30px 40px;
    justify-content: center;
}

#footer-logo {
    width: 50%;
    align-self: start;
    order: 3;
}

#footer-img {
    height: 80px;
    width: 100px;
}

#footer-logo img {
    width: 100%;
}

#footer-logo h2 {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 30px;
}

#footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    order: 3;
}

#footer-social button {
    border: 1px solid white;
    border-radius: 5px;
    background: #2e2e2e;
    padding: 10px 20px;
    color: white;
}

#footer-icons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.icon {
    height: 60px;
    width: 60px;
    margin: 5px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.icon img {
    width: 100%;
}

#footer-contact h2,
#footer-contact p,
#footer-contact i {
    color: white;
}

#footer-contact {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#footer-contact h2 {
font-size: 40px;
margin-bottom: 40px;
}

#footer-contact a {
    display: inline;
    margin: 20px 20px;
    color: white;
}

#email {
    margin: 10px 0;
}

#copyright {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   background: black;
}

#copyright p {
    margin: 0;
    color: white;
}
/* --------------------  TABLET - BOOTSTRAP MD ------------------------ */
@media screen and (min-width: 768px) {

    #footer-wrap {
        padding: 30px 100px;
        justify-content: space-around;
    }

    #footer-logo {
        order: 1;
        width: 30%;
    }

    #footer-logo h2 {
        width: 50px;
    }

    #footer-contact {
        width: 30%;
        order: 2;
    }

    #footer-contact h2 {
        font-size: 30px;
    }

    #footer-social {
        width: 30%;
        justify-content: space-between;
    }
}


